::selection {
    color: var(--background);
    background: var(--primary);
}

.dark-mode {
    --primary: rgb(123, 224, 117);
    --background: rgb(20, 20, 20);
    --red: rgb(197, 89, 89);
}

.oled-mode {
    --primary: rgb(123, 224, 117);
    --background: rgb(0, 0, 0);
    --red: rgb(197, 89, 89);
}

.light-mode {
    --primary: rgb(14, 14, 14);
    --background: rgb(228, 243, 227);
    --red: rgb(143, 45, 45);
}

html {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;

    color: var(--primary);
    background-color: var(--background);
    height: 100vh;
    width: 100vw;

    transition: color 250ms ease, background-color 250ms ease, border-color 250ms ease;
}

#cursorBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

#invertedcursor {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(122, 224, 117, 0);
    border-radius: 50%;
    top: 0;
    left: -20px;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: transform .2s ease, background-color 500ms ease;
    pointer-events: none;
    backdrop-filter: invert(100%) grayscale(100%) url(#two-color-flatten);
}

a {
    color: var(--primary);
    text-decoration: none;
    transition: color 250ms ease;
}

#filter {
    position: absolute;
    height: 0;
}

.cursorText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 0px;
    transition: font-size 400ms ease;
    text-shadow: 0px 0px 30px var(--primary);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
    
    body {
        transition: none !important;
    }
}

.noSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}


#theme-switcher {
    position: absolute;
    font-size: 20px;
}

#theme-switcher-icon {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}
