::selection {
    color: var(--gray-background);
    background: var(--green-color);
}

html {
    margin: 0px;
    padding: 0px;

    --green-color: rgb(123, 224, 117);
    --gray-background: rgb(20, 20, 20);
    --red-error: rgb(197, 89, 89);
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;

    color: var(--green-color);
    background-color: var(--gray-background);
    height: 100vh;
    width: 100vw;
}

#cursorBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

#invertedcursor {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    top: 0;
    left: -20px;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: transform .2s ease;
    pointer-events: none;
    backdrop-filter: invert(100%) grayscale(100%) url(#two-color-flatten);
}

a {
    color: var(--green-color);
    text-decoration: none;
}

#filter {
    position: absolute;
    height: 0;
}