h1 {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: 100px;
    margin: 0px;
    padding-bottom: 4vh;
}

h2 {
    padding-bottom: 1vh;
}

#section1 {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-block {
    max-width: 70rem;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-block h2 {
    margin: 0px;
}

.text-block a {
    display: inline-block;
    width: fit-content;
}

#github {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}